.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: inline-block;
  background: rgba(28, 28, 30, 0.8); /* semi-transparent space gray */
  /* align-items: center;
  justify-content: center; */
  z-index: 1000;
  padding-top: 5rem;;
}

.redpocket {
  opacity: 1;
  width: 100vw;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.coin {
  opacity: 1;
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 1rem;
}

.prize {
  font-family: "Bebas Neue", "Yu Mincho", "Hiragino Mincho ProN", serif;
  color: #eaee18;
  font-size: 7rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1em;
  opacity: 1;
}

.comeBack {
  font-family: "Bebas Neue", "Yu Mincho", "Hiragino Mincho ProN", serif;
  color: #eaee18;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1em;
  opacity: 1;
}
