.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: inline-block;
  background: rgba(28, 28, 30, 0.8); /* semi-transparent space gray */
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 5rem;
}

.text {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  background: rgba(245, 26, 26, 0.85);
  padding: 2rem 4rem;
  border-radius: 2rem;
  box-shadow: 0 4px 32px rgba(0,0,0,0.2);
  text-align: center;
  letter-spacing: 0.1em;
}

.coin {
  opacity: 1;
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 1rem;
}

.prize {
  color: #eaee18;
  font-size: 7rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1em;
  opacity: 1;
}